* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

.navbar {
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.Header,
.Footer {
    flex: 0 0 8vh;
    background-color: #1f2937;
    align-items: center;
}

.Header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    padding: 8px;
    padding-bottom: 64px;
    color: #f9faf8
}

.hero {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding-left: 16vw;
    padding-right: 16vw;
    padding-bottom: 8vw;
    display: flex;
    gap: 6vw;
}

.hero-text {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

.button {
    background-color: #3882f6;
    font-weight: bold;
    padding: 4px 16px;
    border: 1px;
    border-color: white;
    border-radius: 4px;
    align-self: baseline;
    white-space: nowrap;
    overflow: hidden;
}

.hero-header {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-img {
    background-color: gray;
    width: 800px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

/*
.content {
    display: flex;
    justify-content: center;
}
*/

.info {
    margin: 48px;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 24px;
}

.card-img {
    width: 150px;
    height: 150px;
    border: 2px;
    border-radius: 24px;
    border-style: solid;
    border-color: #3882f6;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 150px;
}

.content.two {
    font-size: 36px;
}

.quote-section {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    padding: 100px 250px;
}

.quotee {
    align-self: flex-end;
    font-size: 28px;
    font-weight: 900;
}

.tagline {
    padding: 48px;
    margin: 64px 100px;
    background-color: #3882f6;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.tagline .button {
    border-style: solid;
}

.call {
    font-weight: bold;
}

.Footer {
    display: flex;
    justify-content: center;
}